###
#  managed by ansible
###

[Interface]
PrivateKey = {{ wg_privatekey.stdout }}
Address = {{ wg_internal_ip }}
DNS = "{{ nameserver1 }}, {{ nameserver2 }}"

[Peer]
PublicKey = server-public-key
AllowedIPs = {{ allowed_ip }}
Endpoint = {{ wg_server }}:{{ wg_server_port }}
PersistentKeepalive = 21
